# Web Server & Routing
Flask>=2.3.2
Flask-Cors>=4.0.0
Werkzeug>=2.3.6

# Data Processing & Math
pandas>=2.0.3
numpy>=1.24.3

# Excel Read/Write Engines (Crucial for your .xlsx outputs)
openpyxl>=3.1.2
XlsxWriter>=3.1.2

# Geographical APIs (Used in PJPA13 Mileage Validation)
geopy>=2.4.1